.styleUser {
    background: lightgoldenrodyellow;
    width: 400px;
    padding: 10px;
    margin: 20px;
}

.btnDetails {
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    background: #6bc7e5;
    font-weight: bold;
    font-size: large;
}