.detailsBox {
    width: 300px;
    padding: 20px;
    background: deepskyblue;
    margin: 20px;
}

.btnPosts {
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background: lightgoldenrodyellow;
    font-weight: bold;
    font-size: large;
}