body {
  margin: 0;
  padding: 0;
}

.topBoxes {
  background: lightgray;
  padding: 10px;
  display: flex;
  height: 600px;
  overflow: auto;
}

.styleUsersBox {
  background: lightblue;
  padding: 10px;
}

.styleUser {
  background: lightskyblue;
  padding: 10px;
  margin-bottom: 10px;
}

.stylePostBox {
  background: darkseagreen;
  padding: 10px;
}

.stylePost {
  background: mediumseagreen;
  padding: 10px;
  margin-bottom: 10px;
}

.commentsBox {
  background: gold;
  padding: 10px;
  width: 100%;
}

.styleComment {
  background: lightgoldenrodyellow;
  padding: 10px;
  margin-bottom: 10px;
}