.formWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.formWrapper label {
    margin: 20px 20px;
    font-size: x-large;
}

.formWrapper input {
    margin: 5px;
    padding: 5px;
}

.formWrapper button {
    font-size: x-large;
    padding: 5px 40px;
}

.carStyle {
    margin: 10px;
    padding: 20px;
    border-left: black 1px solid;
    font-size: larger;
    font-weight: bold;
}

.carStyle button {
    padding: 5px 20px;
    font-size: large;
    margin: 10px;
}
.carsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 100px;
}
