.homePage h1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.notFoundPage h1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.postsPage, .userPage {
    display: flex;
    gap: 10px;
}

.postItem {
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.postsContainer, .userContainer {
    width: 50%;
}

.bodyContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.bodyContainer p {
    width: 80%;
    margin: 0;
}

.btnDetails {
    background: yellowgreen;
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 40px;
}

.btnDetails a {
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
}

.userItem {
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.userItem h3 {
    margin: 10px;
}

.btnAlbums {
    background: lightskyblue;
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 40px;
}

.btnAlbums a {
    color: whitesmoke;
    font-size: large;
    text-decoration: none;
}

.btnBox {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.userDetails, .postDetails {
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin: 60px;
}

.userDetails ul {
    font-size: x-large;
}